.container {
  display: inline-flex;
  cursor: pointer;
}

.svg {
  display: inline-block;
  height: 1.3rem;
  width: 1.3rem;
  margin-right: 0.3rem;
}

.title {
  display: inline-block;
  font-size: 1.2rem;
  margin-right: 0.5rem;
}
