.button {
  display: inline-block;
  text-decoration: none;
  border-radius: 0.5rem;
  background-color: #887f0077;
  color: white;
  font-size: 1.2rem;
  min-height: 2.5rem;
  min-width: 7rem;
  padding: 5px;
  text-align: center;
  cursor: pointer;
}
